<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PagerDuty AngularApp</title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" src="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.2.0/restangular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-app="incidents">
        <p class="text-right">
<button type="button" class="btn btn-lg btn-link" data-toggle="modal" data-target="#settings">
  <span class="glyphicon glyphicon-cog"></span> Settings
</button>
        </p>
      <div class="page-header">
        <h2>PagerDuty incidents viewer</h2>
      </div>
      <div ng-view></div>
      <script type="text/ng-template" id="list.html">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="button" ng-repeat="state in states" class="btn btn-default" btn-checkbox
                      ng-model="selected[state]"
                      ng-class="{active: state == selectedState, 'btn-success': state === 'resolved', 'btn-danger': state === 'triggered', 'btn-warning': state === 'acknowledged'}"
                      ng-click="setSelectedState(state)">
                      {{state}}
                    </button>
                  </span>
              </div>
            </div>
            <div class="span4 offset2">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Created on</th>
                    <th>State</th>
                    <th>service</th>
                    <th>Resolve</th>
                    <th>Acknowledge</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="incident in incidents | filter:search | filter:byState | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderBy:'-incident_number'" ng-show="incident.incident_number"
                    ng-class="{'danger': incident.status === 'triggered', 'success': incident.status === 'resolved', 'warning': incident.status === 'acknowledged'}">
                    <td><a href="{{incident.html_url}}" target="_blank">{{incident.incident_number}}</a></td>
                    <td>{{incident.created_on}}</td>
                    <td>{{incident.status}}</td>
                    <td>{{incident.incident_key}}</td>
                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                  </tr>
                </tbody>
              </table>
              <td colspan="3">
                <ul class="pagination">
                  <li ng-class="prevPageDisabled()">
                    <a href ng-click="setPage(currentPage-1)">« Prev</a>
                  </li>
                  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}">
                    <a href ng-click="setPage(n)">{{n}}</a>
                  </li>
                  <li ng-class="nextPageDisabled()">
                    <a href ng-click="setPage(currentPage+1)">Next »</a>
                  </li>
                </ul>
              </td>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="col-sm-6 col-sm-offset-4 text-center">
                <h1>Settings</h1>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="input_no_pages" class="col-sm-2 control-label">Page settings</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="settings.pagesToFetch" ng-model-options="{ updateOn: 'blur' }" placeholder="Number of pages to fetch ({{pagesToFetch}})" >
                      <input type="text" class="form-control" ng-model="settings.itemsPerPage" ng-model-options="{ updateOn: 'blur' }" placeholder="Number of incidents per pager ({{itemsPerPage}})" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Authentication</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="settings.organization" placeholder="Organization ({{organization}})" >
                      <input type="text" class="form-control" ng-model="settings.token" placeholder="Token (********)" >
                    </div>
                  </div>
                  <button ng-click="updateSettings(settings)">RESET</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
